<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="angelhack.jobber"
	android:versionCode="1"
	android:versionName="3.0" >

	<uses-sdk android:minSdkVersion="8" />

	<!-- Allow to connect with internet -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
	<application
		android:icon="@drawable/jb_i"
		android:label="@string/app_name" >

		<!-- Login Activity -->
		<activity android:name="JBSplash" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="JBMainUser" >
		</activity>
		<activity
			android:name="JBMain"
			android:label="@string/app_name" >
		</activity>
		<!-- Register Activity -->
		<activity
			android:name="JBReg"
			android:label="Register New Account" >
		</activity>
		<activity
			android:name="angelhack.jobber.AndroidTabLayoutActivity"
			android:label="Tab1" >
		</activity>
		<activity
			android:name="angelhack.jobber.Home"
			android:label="Home" >
		</activity>
		<activity
			android:name="angelhack.jobber.Profile"
			android:label="Profile" >
		</activity>
		<activity
			android:name="angelhack.jobber.Search"
			android:label="Search" >
		</activity>
	</application>

	

</manifest>